.list-div {
    position: absolute;
    display: grid;
    top: 260px;
    left: 17%;
    right: 10%;
}

.news-h2 {
    position: relative;
    top: 0%;
    left: 4%;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.153px;
    color: #1D1D1B;
}